*{
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box{
    height: 40px;
    width: 40px;
    /* padding: 5px; */

}

.game{
    padding: 50px;
    width: 130px;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hide {
    display: none;
  }